{% extends 'BlogApp/base.html'%}

{%block content%}
<h1>About Page</h1>
<p>
	Hello, visitors. I graduated from Florida State University in 2015 with a B.S. in Psychology and International Affairs. Currently I am a student in UCF's Master's in Data Analytics. After two semesters of lackluster instruction and curriculum, I am looking for a change. Luckily, because I completed the UCF Coding Bootcamp in 2017, I can use the skills I gained to pursue a productive career in web development.	This is a site for showcasing my projects in web development, data science, as well as other topics.

</p>
<a href="https://docs.google.com/document/d/1oCsjOZhX7ddW2m0s0oW-NJcR0RDENK1liEq02Gfq81c/edit">Resume</a>
<img href='https://drive.google.com/file/d/101YhpOpsSrvPOSlx2RRxcYdu5MpopCja/view?usp=sharing'>
{% endblock %}